section > div {
    height: 100px;
    width: 100px;
    margin: 10px;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    font-family: Impact, Charcoal, sans-serif;
    border-radius: 15%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    line-height: 100px;
}

button {
    background-color: black;
    color: white;
    margin: 10px;
}

#show-sum {
    font-size: 30px;
    padding: 10px;
    font-family: Impact, Charcoal, sans-serif;
    color: black;
}

.visible {
    visibility: visible !important;
}
.invisible {
    visibility: hidden !important;
}